.pagination {
    text-align: center;
    li {
        color: #333;
        list-style: none;
        display: inline-block;
        margin: 0px 5px;
        cursor: pointer;
        &.active {
            font-weight: bold;
        }
        &.disabled {
            cursor: not-allowed;
            color: #888;
        }
    }
}